################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/NumberShop/bin/Debug/netcoreapp3.1
/NumberShop/Note.txt
